h2 {
    margin-top: 50px;
}

body {
    overflow-x: hidden;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 120px;
    flex: 1;
    background: white;
    min-height: calc(100vh - 70px);
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-gradient-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 1) 100%);
    z-index: 1;
}

.image-overlay {
    position: absolute;
    top: 50%;
    margin-left: 5%;
    transform: translateY(-50%);
    text-align: left;
    color: var(--text-white);
    z-index: 2;
}

.image-overlay h1 {
    font-size: 4rem;
}

.image-overlay p {
    font-size: 1.7rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}


.image-overlay .secondary-btn {
    margin-left: 20px;
    color: var(--brand-green-light);
    border: var(--brand-green-light) 1px solid;
}

.primary-btn:hover,
.secondary-btn:hover {
    border-radius: var(--border-radius-hover);
    transition: var(--transition-hover);
}

/* On smaller screens, stack columns */
@media (max-width: 768px) {
    .features-overlay {
        grid-template-columns: 1fr;
    }

    .left-side,
    .right-side {
        width: 100%;
    }



    .top-left h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .features-overlay button {
        margin-top: 10px;
    }

    .right-side {
        padding: 0;
        justify-content: center;
    }
}